
.loader {
  border: 3px solid #F3E5F5;
  border-right-color: #76FF03;
  border-left-color: #18FFFF;
  border-radius: 50%;
  margin: 100px auto;
  width: 70px;
  height: 70px; 
  animation: spin 2.5s infinite linear,
             change-color 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
    transform: rotate(180deg) scale(1.3);
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

@keyframes change-color {
  33% {
    border-top-color: #A7FFEB;
    border-bottom-color: #CCFF90;
  }
}



#myFileInput {
    display: none;
}
#myFileLabel {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;        
    padding-left: 6px;
    padding-right: 6px;
}
#myFileName {
    margin-left: 5px;
}
